<mat-toolbar color="primary">
  <span>FaceSnap App</span>
  
  <!-- This spacer pushes the buttons to the right -->
  <span class="spacer"></span>
  
  <!-- Material Buttons -->
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  
  <button mat-button color="accent" (click)="onSnapAll()">
    <mat-icon>favorite</mat-icon>
    Snap All
  </button>
  
  <button mat-raised-button color="warn" (click)="onResetAll()">
    <mat-icon>refresh</mat-icon>
    Reset All
  </button>
</mat-toolbar>